# Ignore node_modules
**/node_modules

# Ignore local database files
backend/finance.db*
data/

# Ignore local configuration files
**/ .env
.git
.github

# Ignore build directories
frontend/dist
backend/dist

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
